// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #00b8f0;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}


h1, {
	color: $primary-color;
}

.post-preview {
  border-bottom: 3px solid $primary-color;
}

a, a:visited {
	color:  darken($primary-color, 20%);
}

/*article h1.title {
	font-family: molesk;
}

article time {
	font-family: chelsea;
	font-size: 1.3em;
}

article .body p {
	font-family: Avenir;
	font-size: 1.1em;
}*/

/*Same styling except refactored using SASS nesting. */

article {
  h1.title {
		font-family: molesk;
  }

time {
  font: {
    weight: bold;
    family: chelsea, Geneva, sans-serif;
    size: 1.3em;
    padding: 4px;
		border: 2px solid darken($primary-color, 10%);
		@include border-radius(5px);
  }
}

  .body {
    p { line-height: 1.5em;
    		font-family: Avenir;
    }
  }
}

